[submodule "pack/general/start/ale"]
	path = pack/general/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/general/start/nerdtree"]
	path = pack/general/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/general/start/nerdcommenter"]
	path = pack/general/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "pack/general/start/vim-template"]
	path = pack/general/start/vim-template
	url = https://github.com/aperezdc/vim-template.git
[submodule "pack/general/start/ultisnips"]
	path = pack/general/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "pack/general/start/nord-vim"]
	path = pack/general/start/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule "pack/general/start/fcitx-vim"]
	path = pack/general/start/fcitx-vim
	url = https://github.com/lilydjwg/fcitx.vim.git
[submodule "pack/markdown/start/markdown-preview.nvim"]
	path = pack/markdown/start/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim.git
[submodule "pack/markdown/start/vim-markdown"]
	path = pack/markdown/start/vim-markdown
	url = https://github.com/preservim/vim-markdown.git
